@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plus tools</h1>
    <p class="lead">Sistema Criado para gestão de fornecedores de Feramentas</p>
    <img class="img img-fluid" src="~/Assets/img/kit-de-ferramentas-para-informtica.jpg" style="width:200px" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Robert Bosch</h2>
        <p>
            Robert Bosch GmbH é uma empresa multinacional alemã de engenharia e eletrônica com sede em Gerlingen, perto de Estugarda, na Alemanha.
        </p>     
    </div>
    <div class="col-md-4">
        <h2>Makita</h2>
        <p>Makita é uma empresa japonesa fundada por Mosaburo Makita. Sendo a segunda maior fabricante de ferramentas elétricas do mundo.</p>
    </div>     
    <div class="col-md-4">
        <h2>Tramontina</h2>
        <p>A Tramontina é uma empresa metalúrgica brasileira, fundada em 1911 e sediada no município de Carlos Barbosa, Rio Grande do Sul.</p>      
    </div>
</div>